/* GENERAL */
* {
  font: 18px Roboto Mono, JetBrainsMono Nerd Font;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background: @theme_bg_color;
  color: @theme_fg_color;
}

/* MODULES LEFT */
#workspaces button.focused {
  color: @theme_selected_fg_color;
  background: @theme_selected_bg_color;
}

/* Disable hover effect */
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.urgent {
  background: @error_color;
  color: @theme_selected_fg_color;
}

#mode,
#window {
  padding-left: 10px;
  padding-right: 10px;
  font-family: Roboto;
}

/* MODULES center */
#custom-media {
  font-family: Roboto Slab, JetBrainsMono Nerd Font;
}

/* MODULES right */
#tray,
#clock,
#pulseaudio,
#network,
#backlight,
#battery {
  padding-left: 10px;
  padding-right: 10px;
}

#temperature.critical {
  color: @error_color;
}

#battery.warning:not(.charging) {
  color: @error_color;
}

#battery.critical:not(.charging) {
  background: @error_color;
  color: @theme_selected_fg_color;
}