/* GENERAL */
* {
  font: 18px Open Sans, JetBrainsMono Nerd Font;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background: #f6f5f4;
  color: #535353;
}

/* MODULES LEFT */
#workspaces button.focused {
  color: #f6f5f4;
  background: #4040bf;
}

/* Disable hover effect */
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.urgent {
  background: #923131;
  color: #f6f5f4;
}

#mode {
  padding-left: 10px;
  padding-right: 10px;
  background: #923131;
  color: #f6f5f4;
}

/* MODULES right */
#tray,
#clock,
#pulseaudio,
#network,
#backlight,
#battery {
  padding-left: 10px;
  padding-right: 10px;
}

#temperature.critical {
  color: #923131;
}

#battery.warning:not(.charging) {
  color: #923131;
}

#battery.critical:not(.charging) {
  background: #923131;
  color: #f6f5f4;
}