/* GENERAL */
* {
  font: 18px Open Sans, JetBrainsMono Nerd Font;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background: #353535;
  color: #c4c4c4;
}

/* MODULES LEFT */
#workspaces button.focused {
  color: #fdfdfd;
  background: #1976d2;
}

/* Disable hover effect */
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.urgent {
  background: #f44336;
  color: #1e1e1e;
}

#mode {
  padding-left: 10px;
  padding-right: 10px;
  background: #f44336;
  color: #1e1e1e;
}

/* MODULES right */
#tray,
#clock,
#pulseaudio,
#network,
#backlight,
#battery {
  padding-left: 10px;
  padding-right: 10px;
}

#battery.warning:not(.charging) {
  background: #f44336;
  color: #1e1e1e;
}

#battery.critical:not(.charging) {
  background: #f44336;
  color: #1e1e1e;
}